{% extends "layout.html.twig" %}

{% block title %}Error!{% endblock %}

{% block content %}
<div class="row" id="errorPanel">
    
    <div class="col-xs-6">
        <h1><small>{{ message }}</small></h1>
    </div>
</div>
{% endblock %}