

		<!-- Actualites -->

		<article id="actu" class="row">
			<div id="actu_article" class="col-sm-12">
				<nav class="row" id="actu_nav">
					<div ng-repeat="item in actu"
						class="actu_div {{item.class}} col-sm-1 col-xs-offset-1 col-xs-4">
						<a href="{{item.lien}}"><img class="img_vignette_actu img-circle"
							alt="{{item.alt}}" ng-src="{{item.src}}" /></a>
					</div>

				</nav>
			</div>
		</article>


		<!--  Accueil -->

		<article class="article_accueil row">
			<p id="presentation_phrase" class="col-sm-12">
				Bienvenue sur <span class="nom_site">La Cartographie des
					Nuages</span>.
			</p>
		</article>


		<article class="article_accueil">
			<nav class="row">
				<div class="col-md-12 image_menu">
					<a href="{{portfolioLien}}"><img
						class="img-rounded img-responsive img-thumbnail img_article_accueil"
						alt="Portfolio" src="images/4-DSC_8555_DxO_4.jpg" /><br />Portefolio</a>
				</div>
				<!-- 					<div class="col-md-6 image_menu"> -->
				<!-- 							<a href="#/index"><img class="img_article_accueil" -->
				<!-- 								alt="Astro" src="images/4-DSC_8555_DxO_4.jpg" />Astro</a> -->
				<!-- 						</div> -->
				<!-- 					<div class="col-md-6 image_menu"> -->
				<!-- 							<a href="#/index"><img class="img_article_accueil" -->
				<!-- 								alt="Vidéos" src="images/4-DSC_8555_DxO_4.jpg" />Vidéos</a> -->
				<!-- 						</div> -->
				<!-- 					<div class="col-md-6 image_menu"> -->
				<!-- 							<a href="#/index"><img class="img_article_accueil" -->
				<!-- 								alt="Voyages" src="images/4-DSC_8555_DxO_4.jpg" />Voyages</a> -->
				<!-- 						</div> -->
				<!-- 					<div class="col-md-6 image_menu"> -->
				<!-- 							<a href="#/index"><img class="img_article_accueil" -->
				<!-- 								alt="Galeries" src="images/4-DSC_8555_DxO_4.jpg" />Galeries</a> -->
				<!-- 						</div> -->
			</nav>
		</article>

		